.submit-button {
    background-color: black;
    font-size: medium;
    border-radius: 9999px;
    transition: all 300ms ease-in-out;
}

:hover.submit-button {
    background-color: rgb(29, 29, 29);
    transform: scale(1.05);
    border: none;
}